:root {
  font-family: Futura, sans-serif; 
  line-height: 1.5;
  font-weight: 500;

  background-color: #000;
  color: #BDC9D2;

  margin: 0 auto;
  padding: 0 0;
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
}

@tailwind base;
@tailwind components;
@tailwind utilities;